<!-- inside app/views/home/index.html.erb -->

<main class="container">
<% if current_user.present? %>
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mt-4 fst-italic border-bottom">
        <%= link_to "New Article", new_article_path%>
      </h3>
    </div>
    <!-- sort option for articles -->
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Date created order
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Ascending order</a></li>
        <li><a class="dropdown-item" href="#">Descending order</a></li>
      </ul>
    </div>

    <!-- Users articles -->
    <%= render partial: 'list', locals: {articles: @current_user_articles, title: "My Articles"}%>
  <% end %>
  <!-- All Users Public Articles -->
  <%= render partial: 'list', locals: {articles: @public_articles, title: "All Articles"}%>
</main>