<!-- inside app/views/home/index.html.erb -->

<main class="container">
<% if current_user.present? %>
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mt-4 fst-italic border-bottom">
        <%= link_to "New Article", new_article_path%>
      </h3>
    </div>
    <!-- sort option for articles -->
    
    <!-- Users articles -->
    <%= render partial: 'list', locals: {articles: @current_user_articles, title: "My Articles", users: @users_with_articles}%>
  <% end %>
  <!-- All Users Public Articles -->
  <%= render partial: 'list', locals: {articles: @public_articles, title: "All Articles", users: @users_with_articles}%>
</main>